@model InvoiceLineVM

<div class="row">
    <div class="col-md-5">
        <h4>Product info</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="ItemCode" class="form-label"></label>
            <input asp-for="ItemCode" class="form-control" />
            <span asp-validation-for="ItemCode" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-around">
        <div class="mb-3">
            <label asp-for="Quantity" class="form-label"></label>
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
        @* <div class="mb-3">
            <label asp-for="UnitType" class="form-label"></label>
            <input asp-for="UnitType" class="form-control" />
            <span asp-validation-for="UnitType" class="text-danger"></span>
        </div> *@
        </div>

        <h4>Price info</h4>
        <hr />
        <div class="mb-3">
            <label asp-for="UnitPrice" class="form-label"></label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SalesTotal" class="form-label"></label>
            <input asp-for="SalesTotal" class="form-control" />
            <span asp-validation-for="SalesTotal" class="text-danger"></span>
        </div>

        <h4>Discount info</h4>
        <hr />  
        <div class="mb-3">
            <label asp-for="DiscountPerUnit" class="form-label"></label>
            <input asp-for="DiscountPerUnit" class="form-control" />
            <span asp-validation-for="DiscountPerUnit" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DiscountPercentage" class="form-label"></label>
            <input asp-for="DiscountPercentage" class="form-control" />
            <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
        </div>     
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="d-flex justify-content-between">
        <h4>Taxes</h4>
            <button type="button" class="btn btn-primary" onclick="addTaxRow()" id="addTaxBtn">Add Tax</button>
        </div>
        <hr />

        <div class="row mb-3">

            <div class="col-md-3">
                <label class="form-label">Tax Type</label>
                <input id="TaxType"
                       class="form-control" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Sub Type</label>
                <input id="SubType"
                       class="form-control" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Rate</label>
                <input id="Rate"
                       type="number"
                       step="0.01"
                       class="form-control" />
            </div>

            <div class="col-md-3">
                <label class="form-label">Amount</label>
                <input id="Amount"
                       type="number"
                       step="0.01"
                       class="form-control" />
            </div>

        </div>

        @* Tax table  *@
        <table class="table my-5">
            <thead>
                <tr>
                    <th scope="col">TaxType</th>
                    <th scope="col">TaxRate</th>
                    <th scope="col">TaxAmount</th>
                    <th scope="col">SubType</th>
                </tr>
            </thead>
            <tbody id="taxTableBody">
                <tr>
                </tr>
            </tbody>
        </table>
        
        <h4>Totals</h4>
        <hr />  
        <div class="mb-3">
            <label class="form-label">Total Taxable Fees</label>
            <input type="number" id="TotalTaxableFees" class="form-control" disabled/>
        </div>
        <div class="mb-3">
            <label class="form-label">Net total</label>
            <input type="number" id="NetTotal" class="form-control" disabled />
        </div>
        <div class="mb-3">
            <label class="form-label">Total</label>
            <input type="number" id="Total" class="form-control" disabled />
        </div>
    </div>
</div>

