@{
    ViewData["Title"] = "Invoice";
}

<h1>Invoices</h1>
<div class="text-center mt-5">
<a class="btn btn-primary me-4" asp-action="Create">Create Invoice</a>
    <button type="button" class="btn btn-secondary" onclick="showSearchInput()">Search Invoices</button>
</div>

<div class="mt-4">
    <form asp-action="Details" method="get">
        <input hidden type="text" name="id" id="searchInput" class="form-control mb-3 me-3" placeholder="Search by Invoice Number...">
    <button type="submit" hidden id="searchButton" class="btn btn-primary mb-3">Search</button>
    </form>
</div>

@section Scripts {
    <script>
        function showSearchInput() {
            var searchInput = document.getElementById("searchInput");
            searchInput.hidden = !searchInput.hidden;

            var searchButton = document.getElementById("searchButton");
            searchButton.hidden = !searchButton.hidden;
        }

        
    </script>
}